.card-container {
    width: 8vw;
    height: 8vw;
    border: 0.3cm rgb(10, 98, 10) solid;
    margin:10px;
    border-radius: 10px;
    cursor: pointer;
}

.card-container:hover {
    border: 0.3cm rgb(12, 114, 12) solid;
}

.color-green:hover {
    color: rgb(12, 114, 12);
    cursor: pointer;
}