<div class="card-container column-center-center p10px">
    <div class="ml10px row-center-space-between p10px w100p">
        <div class="h20px w10p">
            <h4 class="w100px">
                <div class="column-left-center">
                    nome
                    <small class="opacity-0">(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-left-center">
                    argomento/i
                    <small class="opacity-0">(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                    documenti
                    <small class="opacity-0">(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                    barcode
                    <small class="opacity-0">(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                    cronologia
                    <small class="opacity-0">(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                    collocamento
                    <small>(fisico)</small>
                </div>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                    proprietario/i
                </div>
                <small class="opacity-0">(fisico)</small>
            </h4>
        </div>
        <div class="h20px w10p">
            <h4>
                <div class="column-center-center">
                </div>
                <small class="opacity-0">(fisico)</small>
            </h4>
        </div>
    </div>
    <div *ngFor="let catalogue of catalogues" class="row-center-space-between w100p mt40px">
        <div class="row-center-left w10p">
            <fa-icon class="cursor-pointer color-yellow-folder font-size-3em" [icon]="faFolder"></fa-icon>
            <div class="column-left-left ml5px">
                <strong class="">{{ catalogue.title }}</strong>
            </div>
        </div>
        <div class="row-center-left w10p">
            <div class="column-left-left">
                <div *ngFor="let topic of catalogue.topics">
                    {{ topic }}
                </div>
            </div>
        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faFileLines"
            (click)="openDocumentsModal(catalogue)"></fa-icon>
        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faBarcode"
                (click)="openViewBarcodeModal(catalogue)"></fa-icon>
        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faClockRotateLeft"
                (click)="openHistoryModal(catalogue)"></fa-icon>
        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faMapMarker"
                (click)="openCollocationModal(catalogue)"></fa-icon>

        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faUsers" (click)="openOwnersModal(catalogue)"></fa-icon>
        </div>
        <div class="row-center-center w10p">
            <fa-icon class="cursor-pointer font-size-25em" [icon]="faTrash" (click)="deleteCatalogue(catalogue)"></fa-icon>
        </div>
    </div>
</div>

<dgta-barcode-modal *ngIf="isOpenViewBarcodeModal" [catalogue]="catalogue"
    (closeBarcodeViewModalE)="closeViewBarcodeModal()"></dgta-barcode-modal>

<dgta-owners-modal *ngIf="isOpenOwnersModal" [catalogue]="catalogue"
    (closeOwnersModalE)="closeOwnersModal()"></dgta-owners-modal>

<dgta-collocation-modal *ngIf="isOpenCollocationModal" [catalogue]="catalogue"
    (closeCollocationModalE)="closeCollocationModal()"></dgta-collocation-modal>

<dgta-history-modal *ngIf="isOpenHistoryModal" [catalogue]="catalogue"
    (closeHistoryModalE)="closeHistoryModal()"></dgta-history-modal>

<dgta-documents-modal *ngIf="isOpenDocumentsModal" [catalogue]="catalogue"
    (closeDocumentsModalE)="closeDocumentsModal()"
></dgta-documents-modal>