<div class="row-center-center">

    <div class="card-container w25p max-width410 pxcolumn-center-center min-w300px" [ngClass]="{'display-none':isOpenDocumentsModal}">
        <!-- <div class="ml10px row-center-space-between p10px w100p">
            <div class="h20px w10p">
                <h4 class="w100px">
                    <div class="column-left-center">
                        nome
                        <small class="opacity-0">(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-left-center">
                        argomento/i
                        <small class="opacity-0">(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                        documenti
                        <small class="opacity-0">(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                        barcode
                        <small class="opacity-0">(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                        cronologia
                        <small class="opacity-0">(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                        collocamento
                        <small>(fisico)</small>
                    </div>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                        proprietario/i
                    </div>
                    <small class="opacity-0">(fisico)</small>
                </h4>
            </div>
            <div class="h20px w10p">
                <h4>
                    <div class="column-center-center">
                    </div>
                    <small class="opacity-0">(fisico)</small>
                </h4>
            </div>
        </div> -->
        <div *ngFor="let dossier of dossiers" class="row-center-space-between w100p mt10px dossier-container">
            <div class="column-center-center w100p">
                <div class="row-center-space-between w100p cursor-pointer max-width410px" [ngClass]="{'selectedDossier': selectedDossier == dossier}" (click)="selectDossier(dossier)">
                    <div class="row-center-space-between">
                        <div class="row-center-left">
                            <div *ngIf="!sessionService.activeSelect" class="cursor-pointer font-size-3em document-icon"></div>
                            <input *ngIf="sessionService.activeSelect" type="checkbox" class="checkbox-round font-size-15em" (click)="multipleSelectedDossier(dossier)" [checked]="isMultipleSelectedDossier(dossier)" />
                            <div class="column-left-left ml5px w200px title-container">
                                {{ dossier.title }}
                            </div>
                            <!-- <div class="row-center-left w10p">
                                <div class="column-left-left">
                                    <div *ngFor="let topic of dossier.topics">
                                        {{ topic }}
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div *ngIf="!sessionService.activeSelect" class="row-center-center">
                        <div class="cursor-pointer font-size-20em chevronright-baricon"></div>
                    </div>
                </div>
                <div class="row-center-right width320px">
                    <div class="lineseparator w100p">
    
                    </div>
                </div>
                <div *ngIf="selectedDossier == dossier" class="row-center-center w100p bkg-grey barcontainer max-width410px">
                    <div class="row-left-space-around w100p">
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <div class="cursor-pointer font-size-20em file-icon"
                                    (click)="openDocumentsModal(dossier)"></div>
                                <small>documenti</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em barcode-baricon"
                                (click)="openViewBarcodeModal(dossier)"></fa-icon>
                                <small>barcode</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <div class="cursor-pointer font-size-20em history-baricon"
                                (click)="openHistoryModal(dossier)"></div>
                                <small>storico</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <div class="cursor-pointer font-size-20em location-baricon"
                                (click)="openCollocationModal(dossier)"></div>
                                <small>posizione</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em users-baricon"
                                (click)="openOwnersModal(dossier)"></fa-icon>
                                <small>utenti</small>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div *ngIf="dossiers.length == 0" class="row-center-center mt10px">
            Nessun risultato
        </div>
    </div>
    
    <dgta-barcode-modal *ngIf="isOpenViewBarcodeModal" [dossier]="dossier"
        (closeBarcodeViewModalE)="closeViewBarcodeModal()"></dgta-barcode-modal>
    
    <dgta-owners-modal *ngIf="isOpenOwnersModal" [dossier]="dossier"
        (closeOwnersModalE)="closeOwnersModal()"></dgta-owners-modal>
    
    <dgta-collocation-modal *ngIf="isOpenCollocationModal" [dossier]="dossier"
        (closeCollocationModalE)="closeCollocationModal()"></dgta-collocation-modal>
    
    <dgta-history-modal *ngIf="isOpenHistoryModal" [dossier]="dossier"
        (closeHistoryModalE)="closeHistoryModal()"></dgta-history-modal>
    
    <dgta-documents-modal *ngIf="isOpenDocumentsModal" [dossier]="dossier"
        (closeDocumentsModalE)="closeDocumentsModal()"></dgta-documents-modal>
</div>