<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <div>
            <div class="box-form column-center-center">
                <h3 class="row-center-center">CARICA FILE LOCALE</h3>
                <button class="nowrap" (click)="loadFile('pdf')">CARICA FILE</button>
                <input id="file-pdf" type="file" class="form-field-size" (input)="onUploadFile($event)" accept=".pdf">
                <p>oppure</p>
                <h3 class="row-center-center">CARICA FILE DA DISPOSITIVO</h3>
                <div class="box-form column-center-center">
                    <div *ngIf="attachmentPdf.base64">
                        caricato
                    </div>
                    <!-- <button class="nowrap" (click)="openCameraAcquireModal()">ACQUISISCI DA CAMERA</button> -->
                    <button class="nowrap" (click)="openScannerListModal()">ACQUISISCI</button>
                </div>

            </div>
            <div class="row-center-center">
                <button class="mt10px" (click)="cancel()">ANNULLA</button>
                <button class="mt10px" (click)="updateDocument()">CONFERMA</button>
            </div>
        </div>
    </div>

    <dgta-camera-acquire-modal *ngIf="isOpenCameraAcquireModal" (closeCameraAcquireModalE)="closeCameraAcquireModal()"
        (uploadAttachmentE)="uploadFromCamera($event)"></dgta-camera-acquire-modal>

    <dgta-scannerlist-modal *ngIf="isOpenScannerListModal"
                            (closeScannerListModalE)="closeScannerListModal()"></dgta-scannerlist-modal>