<div class="container column-center-space-between h440px">
    <div class="column-center-center">
        <div class="label-access">
            Recupera password
        </div>
        <div *ngIf="step == 1" class="column-top-left">
            <input class="field" (input)="editEmail($event)" id="email" type="text" placeholder="email">
            <div class="row-center-space-between w-100p pt-10px">
                <div class="row-center-space-between w-40px h10px">
                    
                </div>
                <strong  class="w-40px h10px">
                </strong>
            </div>
            <button class="mt10px" (click)="recoverPass()">Avanti</button>
    
        </div>
        <div *ngIf="step == 2" class="column-top-left">
            <input class="field" (input)="editToken($event)" id="email" type="text" placeholder="Token">
            <div class="row-center-space-between w-100p pt-10px">
                <div class="row-center-space-between w-40px h10px">
                    
                </div>
                <strong  class="w-40px h10px">
                </strong>
            </div>
            <button class="mt10px" (click)="confirmToken()">Avanti</button>
    
        </div>
        <div *ngIf="step == 3" class="column-top-left">
            <input class="field" (input)="editPassword($event)" id="password" type="text" placeholder="password">
            <div class="row-center-space-between w-100p pt-10px">
                <div class="row-center-space-between w-40px h10px">
                    
                </div>
                <strong  class="w-40px h10px">
                </strong>
            </div>
            <input class="field" (input)="editConfirmPassword($event)" id="confirmPassword" type="text" placeholder="confirmPassword">
            <div class="row-center-space-between w-100p pt-10px">
                <div class="row-center-space-between w-40px h10px">
                    
                </div>
                <strong  class="w-40px h10px">
                </strong>
            </div>
        </div>
        
        <button *ngIf="step == 3" class="mt10px" (click)="recoverPass()">Conferma</button>
    </div>
    <div class="black">
        Hai un account?
        <strong class="black register" (click)="goToLogin()">
            Accedi!
        </strong>
    </div>
</div>
