
<div class="container column-center-space-between h-100p">
    <div *ngIf="!isCompleted" class="column-center-center">
        <div class="label-access">
            Crea nuovo account
        </div>
        <div class="column-top-left">
            <input class="field" (input)="editFirstName($event)" id="firstName" type="text" placeholder="nome">
            <input class="field" (input)="editLastName($event)" id="lastName" type="text" placeholder="cognome">
            <input class="field" (input)="editEmail($event)" id="email" type="text" placeholder="email">
            <input class="field" (input)="editPassword($event)" type="password" placeholder="password">
            <input class="field" (input)="editConfirmPassword($event)" type="password" placeholder="conferma password">
            <div class="row-center-space-between w-100p pt-10px">
                <div class="row-center-space-between w-40px">
                    <input (click)="checkAccepts()" type="checkbox">
                    <div class="black white-spacenowrap">
                        Accetta termini e condizioni
                    </div>
                </div>
            </div>
            <button class="mt10px" (click)="register()">Conferma</button>
    
        </div>
    </div>
    <div *ngIf="!isCompleted"  class="black">
        Hai un account?
        <strong class="black register" (click)="goToLogin()">
            Accedi
        </strong>
    </div>

    <div *ngIf="isCompleted" class="column-center-center">
        <div  class="column-center-center">
            <div class="success-logo">

            </div>
            <h3>Congratulazioni, ti sei registrato</h3>
        </div>
        
        
    </div>
    <button *ngIf="isCompleted" class="mt10px" (click)="goToLogin()">Torna alla home</button>

</div>
