.bkg-white {
    background: white;
}

.bkg-green {
    background: rgb(10, 98, 10);
}

.bkg-green-light {
    background: rgb(12, 114, 12);
}

.color-white {
    color: white;
}

.color-green {
    color: rgb(10, 98, 10);
}

.color-green-light {
    color: rgb(12, 114, 12);
}