.font-size-large {
    font-size: large;
}

.font-size-larger {
    font-size: larger;
}

.font-size-xl {
    font-size: x-large;
}

.w-100vw {
    width: 100vw;
}

.w-100vh {
    height: 100vh;
}

.h20px {
    height: 20px;
}

.h100p {
    height: 100%;
}