/* You can add global styles to this file, and also import other style files */
@import "assets/style/colors.scss";
@import "assets/style/flex-box.scss";
@import "assets/style/margin.scss";
@import "assets/style/padding.scss";
@import "assets/style/dimension.scss";

html {
    margin: 0px;
}

body {
    margin: 0px;
    background-size: 100vw 100vh;
}

.bkg-login {
    background-image: URL("assets/home-bkg.avif");
}

* {
    font-family:courier, courier new, serif;
}

dgta-login {
    height: 70vh;
    display: flex;
    align-items: center;
}

.front {
    background-image: URL("assets/login-form.jpeg");
}

button {
    cursor: pointer;
}

.text-no-wrap {
    white-space: nowrap;
}

.opacity-0 {
    opacity: 0%;
}

.cursor-pointer {
    cursor: pointer;
}

dgta-home-card-catalogue-form-modal fa-icon {
    cursor: pointer;
}

.display-none {
    display: none;
}

.opacity {
    opacity: 0;
}

label {
    color: black;
}