.h-100c {
    height: 100vh;
}

.overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    z-index: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F2F8;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-category {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.5px 7px;
    gap: 10px;

    width: 68px;
    height: 32px;

    background: #E69800;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    color: white;
    font-size: medium;
}

.add-folder {
    /* Vector */

    color: #E69800;
    opacity: 0.5;
    font-size: xx-large;
}

.select-category,
.clear {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.5px 7px;
    gap: 10px;

    width: 80px;
    height: 32px;

    background: #E69800;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    color: white;
    font-size: medium;
}


.absolute-pos {
    position: absolute;
    top: 9%;
}

.bar-container {
    width: 93%;
    max-width: 410px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.document-container {
    width: 82%;
    max-width: 420px;
}

.rows-container {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    overflow: auto;
    height: 455px;
    width: 82%;
    max-width: 400px;
    border-radius: 8px;
}

.absolute-pos-baricon {
    height: 74px;
    position: fixed;
    top: calc(100% - 74px);
    left:0%;
}

.filter-container {
    width: 2px;
    padding-left: 10px;
    margin-top: 5px;
}

.baricon {
    height: 100%;
    background-color: white;
    max-width: 410px;
}

.selectedDocument {
    background-color: #f9f9f9;
  }

  .selectedDocument {
    background-color: #f9f9f9;
  }