<!-- <dgta-search-catalogue  (getCataloguesE)="getCatalogues()"
                        (hideTopicsE)="hideTopics()"></dgta-search-catalogue> -->




<div class="container column-top-left">
    <div class="row-center-center">
        <button class="m10px" (click)="close()">CHIUDI</button>
    </div>
    <div class="w-100 h-100c container-scroll">
        <div class="row-center-left mb10px">
        </div>
        <div class="row-center-left mb10px">
            <h2 class="ml10px color-white">DOCUMENTI</h2> 
            <div class="row-left-left p10px" (click)="openModalDocumentFormModal()">
                <fa-icon class="cursor-pointer font-size-15em" [icon]="faFolderPlus"></fa-icon>
            </div>
        </div>
        <strong class="ml10px cursor-pointer" (click)="toggleTopics()">{{ toggleTopicsLabel }}</strong>
        <dgta-topic-card *ngIf="showTopics" class="row-center-space-between flex-wrap"
            (getCataloguesByTopicE)="getDocuments()"></dgta-topic-card>
        <div *ngFor="let document of documents" class="column-top-right">
            <div class="column-top-left w100p">
                <div class="row-center-space-between  w100p">
                    <div class="row-center-space-between document-container p10px">
                        <div class="row-center-left">
                            <fa-icon class="cursor-pointer color-yellow-folder font-size-3em"
                                [icon]="faFolder"></fa-icon>
                            <div class="column-left-left ml5px w200px">
                                <strong class="">{{ document.name }}</strong>
                            </div>
                            <!-- <div class="row-center-left w10p">
                                <div class="column-left-left">
                                    <div *ngFor="let topic of catalogue.topics">
                                        {{ topic }}
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row-center-center w10p">
                            <fa-icon class="cursor-pointer font-size-25em" [icon]="faTrash"
                                (click)="deleteDocument(document)"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="p10px row-center-center w100p bkg-grey">
                    <div class="row-left-space-around w100p">
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em" [icon]="faFileLines"
                                    (click)="openAttachmentsModal(document)"></fa-icon>
                                <small>documenti</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em" [icon]="faBarcode"
                                    (click)="openViewBarcodeModal(document)"></fa-icon>
                                <small>barcode</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em" [icon]="faClockRotateLeft"
                                    (click)="openHistoryModal(document)"></fa-icon>
                                <small>storico</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em" [icon]="faMapMarker"
                                    (click)="openCollocationModal(document)"></fa-icon>
                                <small>posizione</small>
                            </div>
                        </div>
                        <div class="row-center-center w10p">
                            <div class="column-center-center">
                                <fa-icon class="cursor-pointer font-size-20em" [icon]="faUsers"
                                    (click)="openOwnersModal(catalogue)"></fa-icon>
                                <small>utenti</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <dgta-owners-document-modal *ngIf="isOpenOwnersModal" [document]="document"
                (closeOwnersModalE)="closeOwnersModal(document)"></dgta-owners-document-modal>

            <dgta-collocation-document-modal *ngIf="isOpenCollocationModal" [document]="document"
                (closeCollocationModalE)="closeCollocationModal(document)"
                (getDocumentsE)="getDocuments()"></dgta-collocation-document-modal>

            <dgta-history-document-modal *ngIf="isOpenHistoryDocumentModal" [document]="document"
                (closeHistoryModalE)="closeHistoryModal()"></dgta-history-document-modal>

            <dgta-barcode-document-modal *ngIf="isOpenViewBarcodeModal" [document]="document"
                (closeBarcodeViewModalE)="closeViewBarcodeModal(document)"></dgta-barcode-document-modal>

            <dgta-state-document-modal *ngIf="isOpenStateModal" [document]="document"
                (closeStateModalE)="closeStateModal(document)"
                (getDocumentsE)="getDocuments()"></dgta-state-document-modal>
            <dgta-attachments-modal *ngIf="isOpenAttachmentModal" [document]="document"
                (closeAttahcmentsModalE)="closeAttachmentsModal(document)"
                (getDocumentsE)="getDocuments()"></dgta-attachments-modal>


        </div>
    </div>

    <dgta-document-form-modal *ngIf="isOpenDocumentFormModal" [catalogue]="catalogue"
        (emitterGetDocuments)="getDocuments()"
        (closeDocumentFormModalE)="closeModalDocuemntFormModal()"></dgta-document-form-modal>