<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-top">
        <div class="row-center-space-between w100p">
            <div class="row-center-left cursor-pointer" (click)="close()">
                <fa-icon class="p3px" [icon]="faChevronLeft"></fa-icon>
                <small>Indietro</small>
            </div>
            <div>
                <h3 class="row-center-center">Dati estratti</h3>
            </div>
            <div class="w-40px h10p">
            </div>
        </div>

        <div class="column-top-left w100p mt30px">
            <div class="column-top-left w100p pt10px pb10px">
                <div class="create-label">
                    Tipo documento:
                </div>
                <div>
                    {{ deliberazioneTemaplateJSON.documentType }}
                </div>
            </div>
            <div class="column-top-left w100p pt10px pb10px">
                <div class="create-label">
                    Deliberazione N.:
                </div>
                <div>
                    {{deliberazioneTemaplateJSON.numero }}
                </div>
            </div>
            <div class="column-top-left w100p pt10px pb10px">
                <div class="create-label">
                    Oggetto:
                </div>
                <div>
                    {{deliberazioneTemaplateJSON.oggetto }}
                </div>
            </div>
            <div class="column-top-left w100p pt10px pb10px">
                <div class="create-label">
                    Data:
                </div>
                <div>
                    {{deliberazioneTemaplateJSON.data }}
                </div>
            </div>
            <div class="column-top-left w100p pt10px pb10px">
                <div class="create-label">
                    Ora:
                </div>
                <div>
                    {{deliberazioneTemaplateJSON.oreStr }}
                </div>
            </div>
        </div>
    </div>
</div>