<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <div>
            <div class="box-form column-center-center">
                <h3 class="row-center-center">Acquisisci da camera</h3>
                <video autoplay class="grey"></video>
                <img src="">
                <canvas style="display:none;"></canvas>
            </div>
            <div class="row-center-center">
                <button class="mt10px" (click)="cancel()">ANNULLA</button>
                <button class="mt10px" (click)="updateDocument()">CONFERMA</button>
            </div>
        </div>
    </div>