<div class="container row-center-space-between h-100vh">
    <div class="front h100p column-center-top">
        <div class="font-size-xl color-white p10px">Benvenuto in </div>
        <div class="font-size-xl color-white p10px">{{ dgta }}</div>
    </div>
    <div class="divider">

    </div>
    <div class="back column-center-center h-100vh">
        <div class="row-center-center">
            <fa-icon class="p3px font-size-xl" [icon]="faSignIn"></fa-icon>
            Accedi
        </div>
        <div class="column-top-left">
            <label for="">email</label>
            <input type="text">
        </div>
        <div class="column-top-left">
            <label for="">password</label>
            <input type="password">
        </div>
        <p class="recover-password">Recupera credenziali</p>
        <button class="mt10px">ENTRA</button>
    </div>
</div>