<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <div class="row-center-space-between w100p">
            <div class="row-center-left cursor-pointer" (click)="cancel()">
                <fa-icon class="p3px" [icon]="faChevronLeft"></fa-icon>
                <small>Documenti</small>
            </div>
            <div>
                <h3 class="row-center-center">Barcode</h3>
            </div>
            <div class="w-40px h10p">
            </div>
        </div>
        <div class="box-form column-center-spacebetween">
            <ngx-barcode6 [bc-format]="'CODE128'" [id]="document._id!" [bc-value]="document._id!" [bc-display-value]="true"></ngx-barcode6>
            <div class="row-center-center">
                <!-- <button class="mt10px" (click)="cancel()">ANNULLA</button> -->
                <button class="mt10px absolute-pos" (click)="print()">Stampa</button>
            </div>
        </div>
    </div>
</div>