.container {
    position: absolute;
    left:0%;
    top:0px;
    width: 100vw;
    height: calc(100vh - 68px);
    display: flex;
    background-color: white;
}


.box-form {
    background: white;
    min-width: 275px;
    height: 15vw;
    min-height: 350px;
    border-radius: 15px;
}

.form-field-size {
    width: 15vw;
    max-width: 200px;
    min-width: 200px;
}

.stateValue:hover {
    cursor: pointer;
    color: rgb(12, 114, 12);
}

.file-viewer-container {
   background-color: grey;
   width: 100vw;
   padding: 5px;
}

.bold {
    font-weight: bold;
}

#file-pdf {
    visibility: hidden;
}

.box-auth-container {
    width: 100%;
    color: black;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
}

.box-auth {
    background: white;
    padding: 10px;
    border-radius: 10px;
}