<div class="w-100 h-100c">
    <dgta-search-catalogue (getCataloguesE)="getCatalogues()"
                            (hideTopicsE)="hideTopics()"></dgta-search-catalogue>
    <div class="row-center-left mb10px">
        <h2 class="ml10px color-white">RACCOLTE</h2> 
        <div class="row-left-left p10px" (click)="openModalCatalogueFormModal()">
            <fa-icon class="cursor-pointer font-size-15em" [icon]="faFolderPlus"></fa-icon>
        </div>
    </div>
    <strong class="ml10px cursor-pointer" (click)="toggleTopics()">{{ toggleTopicsLabel }}</strong>
    <dgta-topic-card *ngIf="showTopics" class="row-center-space-between flex-wrap" 
                    [catalogues]="catalogues"
                    (getCataloguesByTopicE)="getCatalogues()"></dgta-topic-card>
    <div class="column-top-right">
        <dgta-home-card class="row-center h10vh" [catalogues]="catalogues"
        ></dgta-home-card>   
    </div>
</div>

<dgta-home-card-catalogue-form-modal *ngIf="isOpenCatalogueFormModal"
    (closeCatalogueFormModalE)="closeCatalogueFormModal()"></dgta-home-card-catalogue-form-modal>
