<div class="w-100 h-100c">
    <dgta-search-catalogue (getCataloguesE)="getCatalogues()"></dgta-search-catalogue>
    <div class="row-center-left mb10px">
        <h2 class="ml10px">RACCOLTE</h2> 
        <div class="row-left-left p10px" (click)="openModalCatalogueFormModal()">
            <fa-icon class="cursor-pointer color-green font-size-15em" [icon]="faFolderPlus"></fa-icon>
        </div>
    </div>
    <div class="column-top-right">
        <dgta-home-card class="row-center h10vh" [catalogues]="catalogues"></dgta-home-card>   
    </div>
</div>

<dgta-home-card-catalogue-form-modal *ngIf="isOpenCatalogueFormModal"
    (closeCatalogueFormModalE)="closeCatalogueFormModal()"></dgta-home-card-catalogue-form-modal>
