<div class="container">
    <div class="w100p max-width410px row-center-space-between">
        <div class="row-center-left cursor-pointer pl10px" (click)="close()">
            <fa-icon class="p3px" [icon]="faChevronLeft"></fa-icon>
            <small>documenti</small>
        </div>
        <div>
            <h3 class="row-center-center">Filtri</h3>
        </div>
        <div class="w-40px h10p">
        </div>
    </div>
    <div class="column-center-spacebetween">
        <div class="column-top-left">
            <div class="column-top-left mt20px p10px">
                <label for="">Data inizio</label>
                <input class="font-size-medium p10px" type="date" name="" id="" (input)="setStartDate($event)"
                    [value]="startDate">
            </div>
            <div class="column-top-left mt20px p10px">
                <label for="">Data fine</label>
                <input class="font-size-medium p10px" type="date" name="" id="" [min]="startDate"
                    (input)="setEndDate($event)" [value]="endDate">
            </div>
            <!-- <div class="row-bottom-left p10px" (click)="getDocumentsbydate()">
                <fa-icon class="p3px color-green font-size-large cursor-pointer" [icon]="faSearch"></fa-icon>
            </div> -->
        </div>
    </div>
    <button class="mt10px mb10px" (click)="close()">Chiudi</button>
</div>
