.bkg-white {
    background: white;
}

.bkg-green {
    background: rgb(10, 98, 10);
}

.bkg-green-light {
    background: rgb(12, 114, 12);
}

.color-white {
    color: white;
}

.color-green {
    color: rgb(10, 98, 10);
}

.color-green-light {
    color: rgb(12, 114, 12);
}

.color-yellow-folder {
    color: rgb(250, 198, 28)
}


.box-form {
    color: black;
}

.bkg-grey {
    background: #F3F2F8 !important;
    filter: brightness(1.2);   
    color: black;
}

.bkg-orange  {
    background-color: #E69800;;
}

.opacity-05 {
    opacity: 0.95;
}

.not-valid-field,
.not-valid-field:focus {
    border: solid 1px red !important;
}

.color-red {
    color: red !important
}