.bkg-white {
    background: white;
}

.bkg-green {
    background: rgb(10, 98, 10);
}

.bkg-green-light {
    background: rgb(12, 114, 12);
}

.color-white {
    color: white;
}

.color-green {
    color: rgb(10, 98, 10);
}

.color-green-light {
    color: rgb(12, 114, 12);
}

.color-yellow-folder {
    color: rgb(250, 198, 28)
}


.box-form {
    color: black;
}

.bkg-grey {
    background-image: linear-gradient(to right, rgb(113, 110, 110) , rgb(72, 61, 61));
    filter: brightness(1.2);    color: white;
}

.bkg-orange  {
    background-color: #E69800;;
}

.opacity-05 {
    opacity: 0.95;
}