.success-logo {
    background: URL("https://151.31.8.43:8000/assets/success.png");
    width:128px;
    height: 128px;
  }

.search-icon {
    background-image: URL("https://151.31.8.43:8000/assets/search.png");
    background-size: cover;
    width: 15px;
    height: 12px;
}

.barcode-icon {
    background-image: URL("https://151.31.8.43:8000/assets/barcode.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.filter-icon {
    background-image: URL("https://151.31.8.43:8000/assets/filtra.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.folder-icon {
    background-image: URL("https://151.31.8.43:8000/assets/folder.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.trash-icon {
    background-image: URL("https://151.31.8.43:8000/assets/trash.png");
    width: 40px;
    height: 40px;
}

.file-icon {
    background-image: URL("https://151.31.8.43:8000/assets/file-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.barcode-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/barcode-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.history-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/history-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.location-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/location-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.users-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/users-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.chevronright-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/chevronright-baricon.png");
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}

.email-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/email-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.call-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/call-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.calendar-icon {
    background-image: URL("https://151.31.8.43:8000/assets/calendar-icon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.document-icon {
    background-image: URL("https://151.31.8.43:8000/assets/file-icon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.eye-baricon {
    background-image: URL("https://151.31.8.43:8000/assets/eye-baricon.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.add-file-icon {
    background-image: URL("https://151.31.8.43:8000/assets/add-file-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}   

.file-trash-icon {
    background-image: URL("https://151.31.8.43:8000/assets/file-trash-icon.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.x-icon {
    background-image: URL("https://151.31.8.43:8000/assets/x-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.pdf-file-icon {
    background-image: URL("https://151.31.8.43:8000/assets/pdf-file-icon.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
