.mt10px {
    margin-top: 10px;
}

.mr10px {
    margin-right: 10px;
}

.ml10px {
    margin-left: 10px;
}

.ml5px {
    margin-left: 5px;
}

.mb5px {
    margin-bottom: 5px;
}

.mb10px {
    margin-bottom: 10px;
}

.mt40px {
    margin-top: 40px;
}

.m10px {
    margin: 10px
}

.mt20px {
    margin-top: 20px;
}

.mt10px {
    margin-top: 10px;
}