.p10px {
    padding: 10px;
}
.p3px {
    padding: 3px;
}

.pt10px {
    padding-top: 10px;
}

.pb10px {
    padding-bottom: 10px;
}

.pr5px {
    padding-right: 5px;
}

.pl5px {
    padding-left: 5px;
}

