<div class="overlay">

</div>
<div class="container">
    <div class="h-100c container-scroll">
        <div class="row-center-space-between">
            <div class="row-center-left" (click)="closeModal()">
                <fa-icon class="p3px" [icon]="faChevronLeft"></fa-icon>
                <small>Cataloghi</small>
            </div>
            <h3 class="row-center-center">Dossier</h3>
            <div class="w-40px h10p">
            </div>

        </div>
        
        <div class="row-center-center">
            <div class="row-center-space-between mb10px max-width410px w100p">
                <div class="w-40px h20px">

                </div>
                <div class="row-center-space-between mr10px">
                    <button *ngIf="!sessionService.activeSelect" class="add-category mr10px" (click)="openModalDossierFormModal()">Aggiungi</button>
                    <button *ngIf="!sessionService.activeSelect"class="select-category mr10px p10px" (click)="activeSelectMode()">Seleziona</button>
                    <button *ngIf="sessionService.activeSelect"class="select-category mr10px p10px" (click)="deactiveSelectMode()">Annulla</button>
                    <button *ngIf="sessionService.activeSelect"class="select-category mr10px p10px" (click)="openDeleteMassiveModal()">Elimina {{ sessionService.selectedDossiers.length }}</button>
                    <!-- <button class="select-category">Seleziona</button>
                    <div class="row-left-left p10px" (click)="openModalDossierFormModal()">
                        <fa-icon class="cursor-pointer font-size-15em add-folder" [icon]="faFolderPlus"></fa-icon>
                    </div> -->
                </div>
            </div>
        </div>
        <dgta-search-dossier  (getDossiersE)="getDossiers()"
                            (hideTopicsE)="hideTopics()"></dgta-search-dossier>
                            <div class="row-center-center">
                                <div class="ml10px cursor-pointer row-center-right max-width410px w100p" (click)="toggleTopics()">Filtra 
                                            <div class="filter-icon"></div>
                                </div>
                            </div>
        <dgta-topic-card class="row-center-space-between flex-wrap"
                        [ngClass]="{'behind': !showTopics}" 
                        [dossiers]="dossiers"
                        [numTopics]="numTopics"
                        (closeFilterModalE)="hideTopics()"
                        (getDossiersByTopicE)="getDossiers($event)"></dgta-topic-card>
        <div class="column-top-right">
            <dgta-dossier-card class="row-center h10vh" 
            [dossiers]="dossiers"
            ></dgta-dossier-card>   
        </div>
    </div>
    
    <dgta-home-card-dossier-form-modal *ngIf="isOpenDossierFormModal"
        (closeDossierFormModalE)="closeDossierFormModal()"
        (getDossiersE)="getDossiers()"></dgta-home-card-dossier-form-modal>
    
        <dgta-delete-massive-dossier
        *ngIf="isOpenDeleteMassive"
        (confirmE)="deleteMassive()"
        (closeE)="closeDeleteMassiveModal()"></dgta-delete-massive-dossier>
</div>