<div class="overlay">

</div>
<div class="container" [ngClass]="{'opacity': isOpenUpdateCollocationModal}">
    <div class="box-form column-center-center p10px">
        <h3 class="ml10px">{{ document.name }}</h3>
        <div class="row-center-space-between">
            <div *ngIf="isVoidCollocationHistory" class="row-center-center">
                Non è stato dato nessun collocamento.
            </div>
            <div *ngIf="!isVoidCollocationHistory" class="column-top-left w300px">
                <div class="column-top-left w300px">
                    <h4>
                        Corrente
                    </h4>
                    <div class="row-center-center w90p">
                        <div class="w100p nowrap">
                            {{ formatDate(currentPlace.date!) | defaultDash}}
                        </div>
                        <div class="column-top-left w300px">
                            <div class="h20px row-center-center row-center-center">
                                {{ currentPlace.palace | defaultDash }}
                            </div>
                            <div class="h20px row-center-center row-center-center">
                                {{ currentPlace.floor | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ currentPlace.room | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ currentPlace.sector | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ currentPlace.rack | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ currentPlace.position | defaultDash}}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="row-c">
                    storico
                </h4>
                <div class="collocation-container w90p overflow-auto h128px">
                    <div *ngFor="let place of document.placement; index as i" class="row-center-center w90p">
                        <div class="w100p nowrap">
                            {{ formatDate(place.date!) | defaultDash}}
                        </div>
                        <div class="ml10px column-top-left p10px w300px">
                            <div class="h20px row-center-center row-center-center">
                                {{ place.palace | defaultDash }}
                            </div>
                            <div class="h20px row-center-center row-center-center">
                                {{ place.floor | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ place.room | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ place.sector | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ place.rack | defaultDash}}
                            </div>
                            <div class="h20px row-center-center">
                                {{ place.position | defaultDash}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row-center-center mb10px">
            <button class="mt10px" (click)="close()">CHIUDI</button>
            <button class="mt10px" (click)="openUpdateCollocationModal()">RICOLLOCA</button>
        </div>
    </div>
</div>

<dgta-collocation-update-document *ngIf="isOpenUpdateCollocationModal"
    [document]="document"
    (closeUpdateCollocationModalE)="closeUpdateCollocationModal()"
    (getDocumentsE)="getDocumentsEmitter()"
></dgta-collocation-update-document>

