<div class="overlay">

</div>
<div class="container" [ngClass]="{'opacity': isOpenUpdateCollocationModal}">
    <div class="box-form column-center-spacebetween">
        <div class="ml10px row-center-space-between p10px">
            <div class="h20px w10p row-center-center">
                <h4>
                    palazzo
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    piano
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    stanza
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    settore
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    <div class="column-center-center">
                        stanza
                    </div>
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    scaffale
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    posizione
                </h4>
            </div>
            <div class="h20px w10p row-center-center">
                <h4>
                    data
                </h4>
            </div>
        </div>
        <div *ngFor="let place of catalogue.placement">
            <div class="ml10px row-center-space-between p10px">
                <div class="h20px w10p row-center-center row-center-center">
                        {{ place.palace | defaultDash }}
                </div>
                <div class="h20px w10p row-center-center row-center-center">
                        {{ place.floor | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                        {{ place.room  | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                        {{ place.sector  | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                    {{ place.room  | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                    {{ place.rack  | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                    {{ place.position | defaultDash}}
                </div>
                <div class="h20px w10p row-center-center">
                    {{ place.date  | defaultDash}}
                </div>
            </div>
        </div>
        <div class="row-center-center">
            <button class="mt10px" (click)="close()">CHIUDI</button>
            <button class="mt10px" (click)="openUpdateCollocationModal()">RICOLLOCA</button>
        </div>
    </div>
</div>
<dgta-update-collocation-modal *ngIf="isOpenUpdateCollocationModal"
    [catalogue]="catalogue"
    (closeUpdateCollocationModalE)="closeUpdateCollocationModal()"
></dgta-update-collocation-modal>