.overlay {
    position: fixed;
    left:0%;
    top:0%;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 40%;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    background: white;
    width: 350px;
    min-width: 275px;
    min-height: 350px;
    border-radius: 15px;
}

.form-field-size {
    width: 15vw;
    max-width: 200px;
    min-width: 200px;
}