<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <div>
            
        </div>
        <h3 class="row-center-center ml10px">Proprietario/i di '{{ catalogue.title }}'</h3>
        <div class="box-form column-center-left">
            <div *ngFor="let owner of owners" class="row-center-space-between mb10px w80p">
                <div>
                    {{ owner.firstName }} {{ owner.lastName }} 
                </div>
                <a [href] = "getStringSendEmail(owner.email!)">contatta</a>
            </div>

        </div>
        <div class="row-center-center m10px">
            <button class="mt10px" (click)="cancel()">CHIUDI</button>
        </div>
    </div>
</div>