<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <h3 class="row-center-center">Cronologia di '{{ catalogue.title }}'</h3>
        <div *ngFor="let log of history" class="column-top-left mt10px ml10px w80p">
            <div class="row-center-space-between">
                <strong>{{ log.actionLog | defaultDash}}</strong>
            </div>
            <div class="row-center-space-between">
                <div>
                    {{ getUserFullName(log) | defaultDash }}
                </div>
            </div>
            <div class="row-center-space-between">
                {{ formatDate(log.date!) | defaultDash}}
            </div>
        </div>
        <div class="box-form column-center-center">
            <!-- <div class="row-center-space-between mb10px w80p">
                <h4>
                    azione
                </h4>
                <h4>
                    nome
                </h4>
                <h4>
                    data
                </h4>                
            </div> -->
            
        </div>
        <div class="row-center-center">
            <button class="m10px" (click)="closeHistoryModal()">CHIUDI</button>
        </div>
    </div>
</div>