<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <h3 class="row-center-center">Proprietario/i di '{{ document.name }}'</h3>
        <div class="box-form column-center-center">
            <div *ngFor="let owner of owners" class="row-center-space-between mb10px w80p">
                <div>
                    {{ owner.firstName }} {{ owner.lastName }} 
                </div>
                <a [href] = "getStringSendEmail(owner.email!)">contatta</a>
            </div>

            <div class="row-center-center">
                <button class="mt10px" (click)="cancel()">CHIUDI</button>
            </div>
        </div>
    </div>
</div>