<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <h3 class="row-center-center">INSERISCI DATI RACCOLTA</h3>
        <div class="box-form column-center-center">

            <div class="field column-top-left form-field-size mb10px">
                <label for=""><strong>Titolo</strong></label>
                <input class="form-field-size" (input)="editTitle($event)" type="text">
            </div>
            <div class="field column-top-left form-field-size mb10px">
                <label for=""><strong>Argomento/i</strong></label>
                <div *ngFor="let topic of topics" class="mb10px">
                    <div>
                        <label class="mb5px">{{ topic }}</label>
                        <fa-icon class="p3px" [icon]="faTrash" (click)="deleteTopic(topic)"></fa-icon>
                    </div>
                </div>
                <div class="row-center-space-between">
                    <div>
                        <select (change)="onSelectTopic($event)" class="form-field-size w172px">
                            <option class="form-field-size" *ngFor="let topicOpt of allowedTopics" [value]="topicOpt" [selected]="topicOpt == topic">{{ topicOpt
                                }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <fa-icon class="p3px" [icon]="faCheckSquare" (click)="addTopic()"></fa-icon>
                    </div>

                </div>
            </div>
            <div class="field column-top-left form-field-size" class="mb10px">
                <label class="mb5px"><strong>Proprietario/i</strong></label>
                <div *ngFor="let owner of owners" class="mb10px">
                    <div class="row-center-space-between">
                        <label class="mb5px">{{ owner.firstName }} {{ owner.lastName }}</label>
                        <fa-icon class="p3px" [icon]="faTrash" (click)="deleteOwner(owner)"></fa-icon>
                    </div>
                </div>
                <div class="row-center-space-between">
                    <div>
                        <select (change)="onSelectOwner($event)" class="form-field-size w172px">
                            <option class="form-field-size" *ngFor="let owner of allowedOwners" [value]="owner.id">{{
                                owner.firstName }} {{ owner.lastName }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <fa-icon class="p3px" [icon]="faCheckSquare" (click)="addOwner()"></fa-icon>
                    </div>
                </div>
                <div>
                    <button class="mt10px" (click)="cancel()">ANNULLA</button>
                    <button class="mt10px" (click)="addCatalogue()">AGGIUNGI</button>
                </div>
            </div>
        </div>
    </div>