<div class="overlay">

</div>
<div class="container">
    <div class="box-form column-center-spacebetween">
        <div *ngIf="step < 3" class="row-center-space-between w-318px">
            <div class="row-center-left" (click)="previousStep()">
                <fa-icon class="p3px" [icon]="faChevronLeft"></fa-icon>
                <small>Indietro</small>
            </div>
            <h3 class="row-center-center">Nuova raccolta</h3>
            <div class="w-40px h10p">
            </div>

        </div>
        <div class="box-form column-center-spacebetween ">
            <div class="container-form">
                <div>

                    <div *ngIf="step == 1" class="mb10px">
                        <div class="column-top-left ">
                            <label for="">Titolo</label>
                            <input class="form-field-size input302px" [ngClass]="{'not-valid-field': !isValidTitle}"
                                (input)="editTitle($event)" type="text" [value]="title">
                            <small *ngIf="!isValidTitle" class="color-red">Campo obbligatorio</small>
                        </div>
                    </div>
                    <div *ngIf="step == 1" class="mb10px">
                        <label for="">Argomenti</label>
                        <!-- <div *ngFor="let topic of topics" class="mb10px">
                            <div>
                                <label class="mb5px">{{ topic }}</label>
                                <fa-icon class="p3px" [icon]="faTrash" (click)="deleteTopic(topic)"></fa-icon>
                            </div>
                        </div> -->
                        <div class="column-start-space-between w-318px container-topic-selection">
                            <div class="cursor-pointer select-container" [ngClass]="{'not-valid-field': !isValidTopic}"
                                (click)="toggleShowTopicSelection()">
                                {{ getLabelTopic() }}
                            </div>
                            <small *ngIf="!isValidTopic" class="color-red">Campo obbligatorio</small>
                            <div *ngIf="showTopicSelection" class="column-start-space-between selections">
                                <div *ngFor="let topicOpt of allowedTopics" class="row-center-space-between">
                                    <input type="checkbox" class="checkbox-round font-size-15em"
                                        (click)="addTopic(topicOpt)" [checked]="isAddedTopic(topicOpt)" />
                                    {{ topicOpt }}
                                </div>
                            </div>
                            <button *ngIf="showTopicSelection" class="selection-confirm"
                                (click)="toggleShowTopicSelection()">Conferma</button>
                            <!-- <div>
                                <fa-icon class="p3px color-green-light" [icon]="faCheckSquare" (click)="addTopic()"></fa-icon>
                            </div> -->
    
                        </div>
                    </div>
                    <div *ngIf="step == 1" class="mb10px">
                        <label for="">Proprietari</label>
                        <!-- <div *ngFor="let topic of topics" class="mb10px">
                            <div>
                                <label class="mb5px">{{ topic }}</label>
                                <fa-icon class="p3px" [icon]="faTrash" (click)="deleteTopic(topic)"></fa-icon>
                            </div>
                        </div> -->
                        <div class="column-start-space-between w-318px container-topic-selection">
                            <div class="cursor-pointer select-container" [ngClass]="{'not-valid-field': !isValidTopic}"
                                (click)="toggleShowOwnerSelection()">
                                {{ getLabelOwner() }}
                            </div>
                            <small *ngIf="!isValidOwner" class="color-red">Campo obbligatorio</small>
                            <div *ngIf="showOwnerSelection" class="selections">
                                <div *ngFor="let allowedOwner of allowedOwners">
                                    <input type="checkbox" class="checkbox-round font-size-15em"
                                        (click)="addOwner(allowedOwner)" [checked]="isAddedOwner(allowedOwner)" />
                                    {{ allowedOwner.firstName }} {{ allowedOwner.lastName }}
                                </div>
                            </div>
                            <button *ngIf="showOwnerSelection" class="selection-confirm"
                                (click)="toggleShowOwnerSelection()">Conferma</button>
                            <!-- <div>
                                <fa-icon class="p3px color-green-light" [icon]="faCheckSquare" (click)="addTopic()"></fa-icon>
                            </div> -->
    
                        </div>
                </div>
                </div>
                <div class="mb10px w-318px">
                    <div *ngIf="step == 2" class="mb10px">
                        <h4>Collocamento</h4>
                        <div class="column-top-left w220px">
                            <label for="">Edificio</label>
                            <input class="form-field-size input302px" (input)="editLocation('palace',$event)" [ngClass]="{'not-valid-field': !isValidPalace}" type="text">
                                <small *ngIf="!isValidPalace" class="color-red">Campo obbligatorio</small>

                        </div>
                        <div class="row-center-space-between mt10px">
                            <div class="column-top-left w110px">
                                <label for="">Piano</label>
                                <input class="form-field-size input-50p" (input)="editLocation('floor', $event)" [ngClass]="{'not-valid-field': !isValidFloor}" type="text">
                                    <small *ngIf="!isValidFloor" class="color-red">Campo obbligatorio</small>

                            </div>
                            <div class="column-top-left w110px">
                                <label for="">Stanza</label>
                                <input class="form-field-size input-50p" (input)="editLocation('room', $event)" [ngClass]="{'not-valid-field': !isValidRoom}" type="text">
                                    <small *ngIf="!isValidRoom" class="color-red">Campo obbligatorio</small>

                            </div>
                        </div>
                        <div class="row-center-space-between mt10px">
                            <div class="column-top-left w110px">
                                <label for="">Settore</label>
                                <input class="form-field-size input-50p" (input)="editLocation('sector', $event)" [ngClass]="{'not-valid-field': !isValidSector}" type="text">
                                    <small *ngIf="!isValidSector" class="color-red">Campo obbligatorio</small>

                            </div>
                            <div class="column-top-left w110px">
                                <label for="">Scaffale</label>
                                <input class="form-field-size input-50p" (input)="editLocation('rack', $event)" [ngClass]="{'not-valid-field': !isValidRack}" type="text">
                                    <small *ngIf="!isValidRack" class="color-red">Campo obbligatorio</small>

                            </div>
                        </div>
                        <div class="column-top-left w220px mt10px">
                            <label for="">Posizione</label>
                            <input class="form-field-size input302px" (input)="editLocation('position', $event)" [ngClass]="{'not-valid-field': !isValidPosition}" type="text">
                                <small *ngIf="!isValidPosition" class="color-red">Campo obbligatorio</small>

                        </div>
                    </div>

                </div>
                <div *ngIf="step == 3" class="column-center-center">
                    <div class="success-logo">
        
                    </div>
                    <h3>Catalogo aggiunto con successo</h3>
                </div>
                <div class="column-center-center">
                    <div class="row-center-center container-steppoint">
                        <fa-icon *ngIf="step < 3" class="p3px" [ngClass]="{'fa-icon-enabled': step==1}" [icon]="faCircle"></fa-icon>
                        <fa-icon *ngIf="step < 3" class="p3px" [ngClass]="{'fa-icon-enabled': step==2}" [icon]="faCircle"></fa-icon>
                    </div>
                    <button *ngIf="step == 1" class="mt10px mb10px" (click)="nextStep()">Avanti</button>
                    <!-- <button class="mt10px" (click)="cancel()">ANNULLA</button> -->
                    <button *ngIf="step == 2" class="mt10px mb10px" (click)="addCatalogue()">Conferma</button>
                </div>
            </div>
            <button *ngIf="step == 3" class="mt10px" (click)="cancel()">Torna alla home</button>
        </div>
    </div>